<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="#">
         <div class="card mb-4">
                <div class="card-header">مشخصات حساب کاربری</div>
                <div class="card-body">
                  <form>

                    <div class="mb-3">
                      <label class="small mb-1" for="inputUsername">نام کاربری (چگونه نام شما برای سایر کاربران سایت نمایش داده شود)</label>
                      <input class="form-control" id="inputUsername" type="text" placeholder="نام کاربری خود را وارد کنید" value="username">
                    </div>

                    <div class="row gx-3 mb-3">
                      <!-- Form Group (first name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">نام</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="نام خود را وارد کنید" value="مرجان">
                      </div>
                      <!-- Form Group (last name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">نام خانوادگی</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="نام خانوادگی خود را وارد کنید" value="صابری">
                      </div>
                    </div>


                    <div class="row gx-3 mb-3">
                      <!-- Form Group (organization name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">نام سازمان</label>
                        <input class="form-control" id="inputOrgName" type="text" placeholder="نام سازمان خود را وارد کنید" value="بیمه">
                      </div>
                      <!-- Form Group (location)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputLocation">محل زندگی</label>
                        <input class="form-control" id="inputLocation" type="text" placeholder="محل زندگی" value="مازندران، بابل">
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="small mb-1" for="inputEmailAddress">آدرس ایمیل</label>
                      <input class="form-control is-rtl text-right" id="inputEmailAddress" type="email" placeholder="ایمیل خود را وارد کنید" value="name@example.com">
                    </div>


                    <div class="row gx-3 mb-3">
                      <!-- Form Group (organization name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputTel">شماره تماس</label>
                        <input class="form-control" id="inputTel" type="text" placeholder="شماره تماس خود را وارد کنید" value="0123456789">
                      </div>
                      <!-- Form Group (location)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputBirthday">تاریخ تولد</label>
                        <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="تاریخ تولد خود را انتخاب کنید" value="">
                      </div>
                    </div>


                    <button class="btn btn-primary" type="button">ذخیره تغییرات</button>
                  </form>
                </div>
              </div>
      </form>
    </div>
  </div>
</div>
