<div class="container">
  <div class="row">
    <div class="col-md-12">

         <div class="card mb-4">
                <div class="card-header">مشخصات حساب کاربری</div>
                <div class="card-body">
                  <form (submit)="onRegisterUser()" method="post">




                    <div class="row gx-3 mb-3">
                      <div class="col-md-6">
                          <label class="small mb-1" for="email">آدرس ایمیل</label>
                      <input class="form-control is-rtl text-right" name="email" [(ngModel)]="input.email" id="email" type="text" placeholder="آدرس ایمیل خود را وارد کنید" >
                      </div>
                      <div class="col-md-6">
                          <label class="small mb-1" for="nationalCode">کد ملی </label>
                      <input class="form-control is-rtl text-right" name="nationalCode" [(ngModel)]="input.nationalCode" id="nationalCode" type="text" placeholder="آدرس ایمیل خود را وارد کنید" >
                      </div>
                      <!-- Form Group (organization name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="phoneNumber">شماره تماس</label>
                        <input class="form-control" [(ngModel)]="input.phoneNumber" id="phoneNumber" type="text" name="phoneNumber" placeholder="شماره تماس خود را وارد کنید" />
                      </div>
                      <!-- Form Group (location)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="passwordStr">کلمه عبور</label>
                        <input class="form-control" [(ngModel)]="input.passwordStr" id="passwordStr" type="password" name="passwordStr" placeholder="کلمه عبور خود را وارد کنید" />
                      </div>
                       <div class="col-md-6">
                        <label class="small mb-1" for="rePasswordStr">کلمه عبور</label>
                        <input class="form-control" [(ngModel)]="input.rePasswordStr" id="rePasswordStr" type="password" name="rePasswordStr" placeholder="تکرار کلمه عبور خود را وارد کنید" />
                      </div>
                    </div>


                    <button class="btn btn-primary" type="submit">ذخیره تغییرات</button>
                  </form>
                </div>
              </div>

    </div>
  </div>
</div>
