   <main>

        <div class="container-xl px-4 mt-5 is-rtl">

          <!-- داشبورد مدیریتی -->
          <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
            <div class="me-4 mb-3 mb-sm-0">
              <h1 class="mb-0">داشبورد مدیریتی</h1>
              <div class="small">
                <span class="fw-500 text-primary">جمعه</span>
                · 20 شهریور, 1400 · 10:16 ق.ظ
              </div>
            </div>

            <!-- Date range picker example-->
            <div class="input-group input-group-joined border-0 shadow" style="width: 16.5rem">
              <span class="input-group-text col-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar text-primary"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>

              <input class="form-control ps-0 pointer d-inline-flex col-md-5" id="litepickerRangePluginAz" placeholder="از">
              <input class="form-control ps-0 pointer d-inline-flex col-md-5" id="litepickerRangePluginTo" placeholder="- تا">


            </div>

        </div>

          <!-- خوش آمدید -->
          <div class="card card-waves mb-4 mt-5">
            <div class="card-body p-5">
              <div class="row align-items-center justify-content-between">
                <div class="col">
                  <h2 class="text-primary">خوش اومدید ! همه چیز به خوبی در حال اجراست.</h2>
                  <p class="text-gray-700">یک قالب مدیریتی با کلی امکانات ، برگه های مجزا از مدیریت مطالب گرفته تا ثبت نام کاربران با کلی المان های جذاب و اختصاصی، همه و همه در یک قالب تقدیم به شما.</p>
                  <a class="btn btn-primary p-3" href="#">
                    شروع کنید
                    <i class="ms-1 bx bx-left-arrow"></i>
                  </a>
                </div>
                <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="assets/img/svg/amar.svg"></div>
              </div>
            </div>
          </div>

          <!-- کارت‌ها -->
          <div class="row">

            <!-- درآمد -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-start-lg border-start-primary h-100 text-center">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                      <div class="small fw-bold text-primary mb-1">درآمد (ماهیانه)</div>
                      <div class="h5">240,000 تومان </div>
                      <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                        <i class="me-1 bx bx-trending-up"></i>
                        12%
                      </div>
                    </div>
                    <div class="ms-2"><i class="bx bx-tag bx-lg  text-gray-200"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- میانگین -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-start-lg border-start-secondary h-100 text-center">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                      <div class="small fw-bold text-secondary mb-1">میانگین فروش</div>
                      <div class="h5">270,000 تومان</div>
                      <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                        <i class="me-1 bx bx-trending-down"></i>
                        3%
                      </div>
                    </div>
                    <div class="ms-2"><i class="bx bx-shopping-bag bx-lg text-gray-200"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- کلیک‌ها -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-start-lg border-start-success h-100 text-center">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                      <div class="small fw-bold text-success mb-1">کلیک‌ها</div>
                      <div class="h5">21,000</div>
                      <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                        <i class="me-1 bx bx-trending-up"></i>
                        12%
                      </div>
                    </div>
                    <div class="ms-2"><i class="bx bx-happy bx-lg text-gray-200"></i></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- کلیک‌ها -->
            <div class="col-xl-3 col-md-6 mb-4">

              <div class="card border-start-lg border-start-info h-100 text-center">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                      <div class="small fw-bold text-info mb-1">میزان مشارکت</div>
                      <div class="h5">17</div>
                      <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                        <i class="me-1 bx bx-trending-down"></i>
                        1%
                      </div>
                    </div>
                    <div class="ms-2"><i class="bx bx-sad bx-lg text-gray-200"></i></div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- نمودارها -->
          <div class="row">

            <!-- کارت‌ها سمت راست -->
            <div class="col-lg-4 mb-4" >

              <!-- ایجاد گزارش -->
              <div class="card mb-4">
                <div class="card-body text-center p-5">
                  <img class="img-fluid mb-5" src="assets/img/svg/report.svg">
                  <h4>ایجاد گزارش</h4>
                  <p class="mb-4">برای ایجاد گزارش دلخواه آماده اید؟ میتونید با ابزارهای مدیریتی گزارش دلخواه خود را تولید کنید</p>
                  <a class="btn btn-primary p-3" href="#">ادامه</a>
                </div>
              </div>

              <!-- کمپین‌های بازاریابی -->
              <div class="card mb-4">
                <div class="card-header">گزارش های بازاریابی</div>
                <div class="list-group list-group-flush small">
                  <a class="list-group-item list-group-item-action" href="#!">
                    <i class="fas fa-dollar-sign fa-fw text-blue me-2"></i>
                    گزارش های درآمد
                  </a>
                  <a class="list-group-item list-group-item-action" href="#!">
                    <i class="fas fa-tag fa-fw text-purple me-2"></i>
                    میانگین قیمت فروش
                  </a>
                  <a class="list-group-item list-group-item-action" href="#!">
                    <i class="fas fa-mouse-pointer fa-fw text-green me-2"></i>
                    تعامل (کلیک‌ها و نمایش‌ها)
                  </a>
                  <a class="list-group-item list-group-item-action" href="#!">
                    <i class="fas fa-percentage fa-fw text-yellow me-2"></i>
                    نرخ تبدیل
                  </a>
                  <a class="list-group-item list-group-item-action" href="#!">
                    <i class="fas fa-chart-pie fa-fw text-pink me-2"></i>
                    بخش ها
                  </a>
                </div>
                <div class="card-footer position-relative border-top-0">
                  <a class="stretched-link" href="#!">
                    <div class="text-xs d-flex align-items-center justify-content-between">
                      دیدن جزئیات بیشتر
                      <i class="fas fa-long-arrow-alt-left"></i>
                    </div>
                  </a>
                </div>
              </div>
              <!-- بودجه خلاصه -->
              <div class="card bg-primary border-0 mb-4">
                <div class="card-body">
                  <h5 class="text-white-50">خلاصه بودجه</h5>
                  <div class="mb-4">
                    <span class="display-4 text-white">48k تومان</span>
                    <span class="text-white-50">سالیانه</span>
                  </div>
                  <div class="progress bg-white-25 rounded-pill" style="height: 0.5rem"><div class="progress-bar bg-white w-75 rounded-pill" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div></div>
                </div>
              </div>

            </div>

            <!-- نمودار سمت چپ -->
            <div class="col-lg-8 mb-4">

              <div class="card mb-4">
                <div class="card-header">بررسی اجمالی</div>
                <div class="card-body">
                  <div class="chart-area"><canvas id="myAreaChart" class="is-rtl" width="100%" height="30" dir="rtl"></canvas></div>
                </div>
              </div>
              <div class="row mb-4">
                <!-- نمودار گزارش فروش -->
                <div class="col-lg-6">
                  <div class="card h-100">
                    <div class="card-header">گزارش فروش</div>
                    <div class="card-body d-flex flex-column justify-content-center">
                      <div class="chart-bar"><canvas id="myBarChart" width="100%" height="30"></canvas></div>
                    </div>
                    <div class="card-footer position-relative">
                      <a class="stretched-link" href="#">
                        <div class="text-xs d-flex align-items-center justify-content-between">
                          جزئیات بیشتر
                          <i class="fas fa-long-arrow-alt-left"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- نمودار ارجاع دهنده ها -->
                <div class="col-lg-6">
                  <div class="card h-100">
                    <div class="card-header">ارجاع دهنده ها</div>
                    <div class="card-body">
                      <div class="chart-pie mb-4"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                      <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                          <div class="me-3">
                            <i class="fas fa-circle fa-sm me-1 text-blue"></i>
                            مستقیم
                          </div>
                          <div class="fw-500 text-dark">55%</div>
                        </div>
                        <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                          <div class="me-3">
                            <i class="fas fa-circle fa-sm me-1 text-purple"></i>
                            فضای مجازی
                          </div>
                          <div class="fw-500 text-dark">15%</div>
                        </div>
                        <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                          <div class="me-3">
                            <i class="fas fa-circle fa-sm me-1 text-green"></i>
                            ارجاع دهنده ها
                          </div>
                          <div class="fw-500 text-dark">30%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </main>
