    <div id="layoutSidenav_nav">
      <nav class="snav shadow-right snav-light">
        <div class="snav-menu">
          <div class="nav accordion" id="accordionSidenav">


            <div class="snav-menu-heading d-sm-none">حساب کاربری</div>

            <!-- اعلان ها -->
            <a class="nav-link d-sm-none" href="#">
              <div class="nav-link-icon"><i class="bx bx-bell "></i></div>
              اعلان ها
              <span class="badge bg-warning-soft text-warning ms-auto">4 جدید!</span>
            </a>

            <!-- پیام ها -->
            <a class="nav-link d-sm-none" href="#">
              <div class="nav-link-icon"><i class="bx bx-envelope"></i></div>
              پیام ها
              <span class="badge bg-success-soft text-success ms-auto">2 جدید!</span>
            </a>


            <div class="snav-menu-heading">هسته</div>

            <!-- پیشخوان -->
            <a class="nav-link collapsed active" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
              <div class="nav-link-icon"><i class="bx bx-pulse"></i></div>
              داشبورد
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapseDashboards" data-bs-parent="#accordionSidenav">
              <nav class="snav-menu-nested nav accordion" id="accordionSidenavPages">
                <a class="nav-link" href="dashboard-default.html">
                  پیشفرض
                  <span class="badge bg-primary-soft text-primary ms-auto">بروز شده</span>
                </a>
                <a class="nav-link" href="dashboard-multi.html">چند منظوره</a>
                <a class="nav-link active" href="dashboard-affiliate.html">بازاریابی</a>
              </nav>
            </div>








            <div class="snav-menu-heading">سفارشی</div>
            <!-- برگه ها -->
            <a class="nav-link collapsed pt-0" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
              <div class="nav-link-icon"><i class="bx bx-grid"></i></div>
              برگه ها
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" data-bs-parent="#accordionSidenav">


              <nav class="snav-menu-nested nav accordion" id="accordionSidenavPagesMenu">

                <!-- حساب کاربری -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAccount" aria-expanded="false" aria-controls="pagesCollapseAccount">
                  حساب کاربری
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAccount" data-bs-parent="#accordionSidenavPagesMenu">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/account/profile.html">پروفایل</a>
                    <a class="nav-link" href="pages/account/profile-billing.html">صورتحساب</a>
                    <a class="nav-link" href="pages/account/profile-security.html">امنیت</a>
                    <a class="nav-link" href="pages/account/profile-notifications.html">اعلان ها</a>
                  </nav>
                </div>


                <!-- احراز هویت -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                  احراز هویت
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" data-bs-parent="#accordionSidenavPagesMenu">
                  <nav class="snav-menu-nested nav accordion" id="accordionSidenavPagesAuth">

                    <!-- ثبت نام -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthRegister" aria-expanded="false" aria-controls="pagesCollapseAuthRegister">
                      ثبت نام
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuthRegister" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/register/default.html">پیشفرض</a>
<a class="nav-link" target="_blank" href="pages/auth/register/basic.html">پایه</a>
                        <a class="nav-link" target="_blank" href="pages/auth/register/cover.html">کاور</a>
                        <a class="nav-link" target="_blank" href="pages/auth/register/stepbystep.html">چند مرحله ای</a>
                        <a class="nav-link" target="_blank" href="pages/auth/register/mobile.html">با شماره موبایل</a>
                      </nav>
                    </div>


                    <!-- ورود -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthLogin" aria-expanded="false" aria-controls="pagesCollapseAuthLogin">
                      ورود
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuthLogin" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/login/default.html">پیشفرض</a>
<a class="nav-link" target="_blank" href="pages/auth/login/basic.html">پایه</a>
                        <a class="nav-link" target="_blank" href="pages/auth/login/cover.html">کاور</a>
                        <a class="nav-link" target="_blank" href="pages/auth/register/mobile.html">با شماره موبایل</a>
                      </nav>
                    </div>


                    <!-- شبکه های اجتماعی -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthSocial" aria-expanded="false" aria-controls="pagesCollapseAuthSocial">
                      شبکه های اجتماعی
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuthSocial" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/social/login.html">ورود</a>
                        <a class="nav-link" target="_blank" href="pages/auth/social/register.html">ثبت نام</a>
                        <a class="nav-link" target="_blank" href="pages/auth/social/forget-password.html">فراموشی رمزعبور</a>
                      </nav>
                    </div>

                    <!-- فراموشی رمز عبور -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthForgetwd" aria-expanded="false" aria-controls="pagesCollapseAuthForgetwd">
                      فراموشی رمز عبور
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuthForgetwd" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/forgetpwd/default.html">پیشفرض</a>
<a class="nav-link" target="_blank" href="pages/auth/forgetpwd/basic.html">پایه</a>
                        <a class="nav-link" target="_blank" href="pages/auth/forgetpwd/cover.html">کاور</a>
                      </nav>
                    </div>

                    <!-- بازنشانی رمز عبور -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthResetPwd" aria-expanded="false" aria-controls="pagesCollapseAuthResetPwd">
                      بازنشانی رمز عبور
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuthResetPwd" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/resetpwd/basic.html">پایه</a>
                        <a class="nav-link" target="_blank" href="pages/auth/resetpwd/cover.html">کاور</a>
                      </nav>
                    </div>

                    <!-- تایید ایمیل -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuthEmail" aria-expanded="false" aria-controls="pagesCollapseAuthEmail">
                      تایید ایمیل
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuthEmail" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/email/basic.html">پایه</a>
                        <a class="nav-link" target="_blank" href="pages/auth/email/cover.html">کاور</a>
                      </nav>
                    </div>

                    <!-- دو مرحله ای -->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth2fa" aria-expanded="false" aria-controls="pagesCollapseAuth2fa">
                      دو مرحله ای
                      <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                    </a>
                    <div class="collapse" id="pagesCollapseAuth2fa" data-bs-parent="#accordionSidenavPagesAuth">
                      <nav class="snav-menu-nested nav">
                        <a class="nav-link" target="_blank" href="pages/auth/2fa/basic.html">پایه</a>
                        <a class="nav-link" target="_blank" href="pages/auth/2fa/cover.html">کاور</a>
                      </nav>
                    </div>

                  </nav>
                </div>


                <!-- خطاها -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                  خطاها
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseError" data-bs-parent="#accordionSidenavPagesMenu">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/error/400.html">400</a>
                    <a class="nav-link" href="pages/error/401.html">401</a>
                    <a class="nav-link" href="pages/error/403.html">403</a>
                    <a class="nav-link" href="pages/error/404-1.html">404 طرح 1</a>
                    <a class="nav-link" href="pages/error/404-2.html">404 طرح 2</a>
                    <a class="nav-link" href="pages/error/500.html">500</a>
                    <a class="nav-link" href="pages/error/503.html">503</a>
                    <a class="nav-link" href="pages/error/504.html">504</a>
                  </nav>
                </div>

                <!-- تعرفه ها -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#pagesCollapsePrice" aria-expanded="false" aria-controls="pagesCollapsePrice">
                  تعرفه ها
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapsePrice" data-bs-parent="#accordionSidenavPagesMenu">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/pricing/pricing-1.html">طرح شماره 1</a>
                    <a class="nav-link" href="pages/pricing/pricing-2.html">طرح شماره 2</a>
                    <a class="nav-link" href="pages/pricing/pricing-3.html">طرح شماره 3</a>
                  </nav>
                </div>
                <!-- فاکتور -->
                <a class="nav-link" href="pages/invoice.html">فاکتور</a>
              </nav>
            </div>

            <!-- نرم افزارها -->
            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseApps" aria-expanded="false" aria-controls="collapseApps">
              <div class="nav-link-icon"><i class="bx bx-globe"></i></div>
              نرم افزارها
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapseApps" data-bs-parent="#accordionSidenav">
              <nav class="snav-menu-nested nav accordion" id="accordionSidenavAppsMenu">

                <!-- مقالات -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapseKnowledgeBase" aria-expanded="false" aria-controls="appsCollapseKnowledgeBase">
                  مقالات
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="appsCollapseKnowledgeBase" data-bs-parent="#accordionSidenavAppsMenu">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/articles/tarh-1.html">طرح یک</a>
                    <a class="nav-link" href="pages/articles/tarh-2.html">طرح دو</a>
                    <a class="nav-link" href="pages/articles/category.html">دسته بندی</a>
                    <a class="nav-link" href="pages/articles/base.html">مطالب</a>
                  </nav>
                </div>

                <!-- کاربران -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapseUserManagement" aria-expanded="false" aria-controls="appsCollapseUserManagement">
                  کاربران
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="appsCollapseUserManagement" data-bs-parent="#accordionSidenavAppsMenu">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/users/list.html">لیست</a>
                    <a class="nav-link" href="pages/users/edit.html">ویرایش کاربر</a>
                    <a class="nav-link" href="pages/users/add.html">ایجاد کاربر</a>
                    <a class="nav-link" href="pages/users/groups-list.html">فهرست گروهی</a>
                    <a class="nav-link" href="pages/users/org-details.html">مشخصات سازمانی</a>
                  </nav>
                </div>
                <!-- مدیریت پست ها -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#appsCollapsePostsManagement" aria-expanded="false" aria-controls="appsCollapsePostsManagement">
                  مدیریت پست ها
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="appsCollapsePostsManagement" data-bs-parent="#accordionSidenavAppsMenu">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/posts/list.html">لیست</a>
                    <a class="nav-link" href="pages/posts/create.html">ایجاد مطلب</a>
                    <a class="nav-link" href="pages/posts/edit.html">ویرایش مطلب</a>
                    <a class="nav-link" href="pages/posts/admin.html">فهرست مطالب مدیر</a>
                  </nav>
                </div>
              </nav>
            </div>


            <!-- فرم چند مرحله -->
            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseMulti" aria-expanded="false" aria-controls="collapseDashboards">
              <div class="nav-link-icon"><i class="bx bx-repost"></i></div>
              فرم چند مرحله
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapseMulti" data-bs-parent="#accordionSidenav">
              <nav class="snav-menu-nested nav accordion" id="accordionMultiPages">
                <a class="nav-link" href="pages/flows/multi-select.html">ثبت نام چندتایی</a>
                <a class="nav-link" href="pages/flows/multi-wizard.html">فرم گام به گام مرحله ای</a>
              </nav>
            </div>

            <div class="snav-menu-heading">ابزارهای رابط کاربری</div>

<!-- طرح ها -->
            <a class="nav-link collapsed " href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="nav-link-icon"><i class="bx bx-layout"></i></div>
              طرح ها
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" data-bs-parent="#accordionSidenav">
              <nav class="snav-menu-nested nav accordion" id="accordionSidenavLayout">
                <!-- ناوبری -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayoutSidenavVariations" aria-expanded="false" aria-controls="collapseLayoutSidenavVariations">
                  ناوبری
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutSidenavVariations" data-bs-parent="#accordionSidenavLayout">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/layout/static.html">استاتیک</a>
                                        <a class="nav-link" href="pages/layout/dark.html">تم تاریک</a>
                    <a class="nav-link active" href="pages/layout/ltr.html">صفحه چپ به راست</a>
                  </nav>
                </div>
                <!-- تنظیمات Container -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayoutSidenavOption" aria-expanded="false" aria-controls="collapseLayoutSidenavOption">
                  تنظیمات Container
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutSidenavOption" data-bs-parent="#accordionSidenavLayout">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/layout/layout-boxed.html">باکس - Boxed Layout</a>
                    <a class="nav-link" href="pages/layout/layout-fluid.html">سیال - Fluid Layout</a>
                  </nav>
                </div>

                <!-- هدر سایت -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsPageHeaders" aria-expanded="false" aria-controls="collapseLayoutsPageHeaders">
                  هدر سایت
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsPageHeaders" data-bs-parent="#accordionSidenavLayout">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/header/simplified.html">ساده</a>
                    <a class="nav-link" href="pages/header/compact.html">کامپکت</a>
                    <a class="nav-link" href="pages/header/overlap.html">همپوشانی</a>
                    <a class="nav-link" href="pages/header/breadcrumbs.html">نمایش مسیر صفحات</a>
                    <a class="nav-link" href="pages/header/light.html">تم روشن</a>
                  </nav>
                </div>
                <!-- طرح بندی اصلی -->
                <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsStarterTemplates" aria-expanded="false" aria-controls="collapseLayoutsStarterTemplates">
                  طرح بندی اصلی
                  <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsStarterTemplates" data-bs-parent="#accordionSidenavLayout">
                  <nav class="snav-menu-nested nav">
                    <a class="nav-link" href="pages/starter/default.html">پیشفرض</a>
                    <a class="nav-link" href="pages/starter/minimal.html">مینیمال</a>
                  </nav>
                </div>
              </nav>
            </div>

            <!-- رابط کاربری -->
            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseComponents" aria-expanded="false" aria-controls="collapseComponents">
              <div class="nav-link-icon"><i class="bx bx-package"></i></div>
              رابط کاربری
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapseComponents" data-bs-parent="#accordionSidenav">
              <nav class="snav-menu-nested nav">
                <a class="nav-link" href="pages/components/alerts.html">هشدارها</a>
                <a class="nav-link" href="pages/components/avatars.html">آواتار</a>
                <a class="nav-link" href="pages/components/badges.html">نشان‌ها</a>
                <a class="nav-link" href="pages/components/buttons.html">دکمه‌ها</a>
                <a class="nav-link" href="pages/components/cards.html">
                  کارت
                  <span class="badge bg-primary-soft text-primary ms-auto">بروز شده</span>
                </a>
                <a class="nav-link" href="pages/components/dropdowns.html">کشویی</a>
                <a class="nav-link" href="pages/components/forms.html">
                  فرم‌ها<span class="badge bg-primary-soft text-primary ms-auto">بروز شده</span>
                </a>
                <a class="nav-link" href="pages/components/modals.html">مودال‌ها</a>
                <a class="nav-link" href="pages/components/navigation.html">نوار ناوبری</a>
                <a class="nav-link" href="pages/components/progress.html">درصد پیشرفت</a>
                <a class="nav-link" href="pages/components/step.html">گام به گام</a>
                <a class="nav-link" href="pages/components/spinners.html">چرخنده</a>
                <a class="nav-link" href="pages/components/timeline.html">خط زمانی</a>
                <a class="nav-link" href="pages/components/toasts.html">اعلان های Toasts</a>
                <a class="nav-link" href="pages/components/tooltips.html">تولتیپ ها</a>
              </nav>
            </div>

            <!-- برنامه‌های سودمند -->
            <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseUtilities" aria-expanded="false" aria-controls="collapseUtilities">
              <div class="nav-link-icon"><i class="bx bx-repost"></i></div>
              برنامه‌های سودمند
              <div class="snav-collapse-arrow"><i class="bx bx-chevron-down"></i></div>
            </a>
            <div class="collapse" id="collapseUtilities" data-bs-parent="#accordionSidenav">
              <nav class="snav-menu-nested nav accordion" id="accordionUtilitiesPages">
                <a class="nav-link" href="pages/utilities/animations.html">انیمیشن</a>
                <a class="nav-link" href="pages/utilities/background.html">پس‌زمینه</a>
                <a class="nav-link" href="pages/utilities/borders.html">حاشیه</a>
                <a class="nav-link" href="pages/utilities/lift.html">افکت Lift</a>
                <a class="nav-link" href="pages/utilities/shadows.html">سایه‌ها</a>
                <a class="nav-link" href="pages/utilities/typography.html">تایپوگرافی</a>
              </nav>
            </div>

            <div class="snav-menu-heading">پلاگین</div>
<!-- نمودارها -->
            <a class="nav-link pt-0" href="pages/charts.html">
              <div class="nav-link-icon"><i class="bx bx-bar-chart"></i></div>
              نمودارها
            </a>
            <!-- جدول -->
            <a class="nav-link" href="pages/tables.html">
              <div class="nav-link-icon"><i class="bx bx-table"></i></div>
              جدول
            </a>
          </div>
        </div>
      </nav>
    </div>
